html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: normal;
    vertical-align: baseline;
}

* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
 	-moz-box-sizing: border-box;
 	-o-box-sizing: border-box; /*Opera9.6*/
 	-ms-box-sizing: border-box; /*IE8*/
	font: 14px/1.5 tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}

b,em,i,strong,u {
	font-style: normal;
}

html, body {
    min-height: 100%;
}

em {
	font-style: normal;
}

h1, h2, h3, h4, h5, h6 {font-weight:normal;}
dl,ul,ol,menu,li {
    list-style: none;
}

img {
    border: none;
    vertical-align: top;
}

a {
    text-decoration: none;
    color: #232323;
}
a:active, a:hover {text-decoration:none; color: #3366ff;}

table {
    border-collapse: collapse;
    table-layout: fixed;
}
textarea {
    outline: none;
    border: none;
    margin: 0;
    padding: 0;
}
input {
	margin: 0;
    padding: 0;
}

textarea {
    resize: none;
    overflow: auto;
}

::selection {color: darkorange;}      
::-moz-selection {color: darkorange;} 
::-webkit-selection {color: darkorange;} 
::-ms-selection {color: darkorange;} 
::-o-selection {color: darkorange;} 

.clearfix {
    zoom: 1;
}

.clearfix:after {
    content: ".";
    width: 0;
    height: 0;
    visibility: hidden;
    display: block;
    clear: both;
    overflow:hidden;
}

.ellipse {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.inline {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}
.iteamImg:hover {
	transition: .6s;
	transform: translate(-5px);
	-webkit-transform: translate(-5px);
	-moz-transform: translate(-5px);
	-ms-transform: translate(-5px);
	-o-transform: translate(-5px);
}
.co {
	color: #36c;
}
.shadow {
	box-shadow: 0 0 10px 10px #666;
	-webkit-box-shadow: 0 0 10px 10px #666;
	-moz-box-shadow: 0 0 10px 10px #666;
	-ms-box-shadow: 0 0 10px 10px #666;
	-o-box-shadow: 0 0 10px 10px #666;
}
.shadowlt {
	box-shadow: -10px -10px 5px 5px #666;
	-webkit-box-shadow: -10px -10px 5px 5px #666;
	-moz-box-shadow: -10px -10px 5px 5px #666;
	-ms-box-shadow: -10px -10px 5px 5px #666;
	-o-box-shadow: -10px -10px 5px 5px #666;
}
.shadowrb {
	box-shadow: 10px 10px 5px 5px #666;
	-webkit-box-shadow: 10px 10px 5px 5px #666;
	-moz-box-shadow: 10px 10px 10px 5px #666;
	-ms-box-shadow: 10px 10px 10px 5px #666;
	-o-box-shadow: 10px 10px 10px 5px #666;
}
.shadowb {
	box-shadow:  0px 20px 20px #666;
	-webkit-box-shadow: 0px 20px 20px #666;
	-moz-box-shadow: 0px 20px 20px #666;
	-ms-box-shadow: 0px 20px 20px #666;
	-o-box-shadow: 0px 20px 20px #666;
}
.shadowt {
	box-shadow:  20px 20px 0px #666;
	-webkit-box-shadow: 20px 20px 0px #666;
	-moz-box-shadow: 20px 20px 0px #666;
	-ms-box-shadow: 20px 20px 0px #666;
	-o-box-shadow: 20px 20px 0px #666;
}